## Covariance And Correlation

In [1]:
import seaborn as sns

In [2]:
df=sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [13]:
numerical_df_healthexp = df.select_dtypes(include='number')

# Compute the covariance matrix for the healthexp dataset

cov_matrix_healthexp = numerical_df_healthexp.cov()

print(cov_matrix_healthexp)

Covariance matrix for the healthexp dataset:
                  year    passengers
year         12.000000    383.087413
passengers  383.087413  14391.917201

In [14]:
cov_matrix = numerical_df.cov()

print(cov_matrix)

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [15]:
##Pearson correlation coefficient

pearson_corr_healthexp = numerical_df_healthexp.corr(method='pearson')

print(pearson_corr_healthexp)

                year  passengers
year        1.000000    0.921824
passengers  0.921824    1.000000

In [16]:
spearman_corr_healthexp = numerical_df_healthexp.corr(method='spearman')

print(spearman_corr_healthexp)

                year  passengers
year        1.000000    0.950549
passengers  0.950549    1.000000

In [17]:
df=sns.load_dataset('flights')
df.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [20]:
numerical_df_flights = df.select_dtypes(include='number')

# Compute the correlation matrix for the flights dataset

corr_matrix_flights = numerical_df_flights.corr()

print(corr_matrix_flights)

                year  passengers
year        1.000000    0.921824
passengers  0.921824    1.000000

In [21]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [23]:
numerical_df_tips = df.select_dtypes(include='number')

# Compute the correlation matrix for the tips dataset

corr_matrix_tips = numerical_df_tips.corr()

print(corr_matrix_tips)

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000